/* V1RTU4L 30x30 */
[data-cid^="3473197-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/tTY4zO5.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3473197 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/tTY4zO5.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3473197-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3473197-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* V1RTU4L */

/* DATABASE */
[data-cid^="3926149-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/4dRlHRr.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3926149 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/4dRlHRr.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3819537 .info .badge-box {
    position: relative;
    top: 7px;
    background-image: url(https://i.imgur.com/4dRlHRr.png);
    background-size: 30px;
    float: left;
    margin-left: 8px;
}
[data-cid^="3926149-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
[data-cid^="3926149-"] .bdg.s {
    background-image: url("https://i.imgur.com/4dRlHRr.png") !important;
    background-size: 30px !important;
}
[data-cid^="3926149-"] .thumb {
    border: 2px solid #ac73f8 !important;
    border-radius: 50%;
}
/* DATABASE */

/* Sawada-Tsunayoshi 30x30 */
[data-cid^="3819537-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/BhZRomh.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3819537 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/BhZRomh.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3819537-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3819537-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Sawada-Tsunayoshi */

/* Tardígrado 30x30 */
[data-cid^="14877874-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/dAfUHkk.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-14877874 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/dAfUHkk.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="14877874-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="14877874-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Tardígrado */

/* Hell_Girl666 30x30 */
[data-cid^="4311743-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/4xWpsNY.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4311743 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/4xWpsNY.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4311743-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Hell_Girl666 */

/* rizkeyla 30x30 */
[data-cid^="14885459-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/gFnPTD0.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-14885459 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/gFnPTD0.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="14885459-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="14885459-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* rizkeyla */

/* MihaCrazy */
[data-cid^="9799644-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://scontent.fcwb1-1.fna.fbcdn.net/v/t1.0-9/13939453_1000137836766251_8387609832615547965_n.jpg?oh=24cecfec8dba08f3e544e1ad883f5aef&oe=597F900E") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-9799644 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://scontent.fcwb1-1.fna.fbcdn.net/v/t1.0-9/13939453_1000137836766251_8387609832615547965_n.jpg?oh=24cecfec8dba08f3e544e1ad883f5aef&oe=597F900E") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="9799644-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* MihaCrazy */

/* -RhaegarTargaryen- 30x30 */
[data-cid^="3564548-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/hcduEwE.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3564548 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/hcduEwE.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3564548-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3564548-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* -RhaegarTargaryen- */

/* Mún */
[data-cid^="26380390-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.giphy.com/uMUcWg5fIQhWM.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-26380390 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.giphy.com/uMUcWg5fIQhWM.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="26380390-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Mún */

/* Hylissang 30x30 */
[data-cid^="4473623-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/qE5NeRb.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4473623 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/qE5NeRb.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4473623-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Hylissang */

/* MikuDead 30x30 */
[data-cid^="6616144-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/iOPzw2Z.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-6616144 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/iOPzw2Z.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="6616144-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* MikuDead */

/* Gana 30x30 */
[data-cid^="3606558-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/JJ2lDaH.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3606558 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/JJ2lDaH.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3606558-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3606558-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Gana */

/* DeadMiku 30x30 */
[data-cid^="3957463-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/iOPzw2Z.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3957463 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/iOPzw2Z.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3957463-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* DeadMiku */

/* -Mugetsu- 30x30 */
[data-cid^="3823901-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/H0UwOBL.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3823901 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/H0UwOBL.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3823901-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3823901-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* -Mugetsu- */

/* ♫Gαbs_Dєłмs♫ */
[data-cid^="14706441-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media.giphy.com/media/CW6ZkUoszWaJi/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-14706441 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media.giphy.com/media/CW6ZkUoszWaJi/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="14706441-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="14706441-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* ♫Gαbs_Dєłмs♫ */

/* ♫Gαbs_Dєłмs♫ */
[data-cid^="14706441-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/Zl6qGPZ.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-14706441 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/Zl6qGPZ.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="14706441-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="14706441-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* ♫Gαbs_Dєłмs♫ */

/* Solano Ulisses */
[data-cid^="26619928-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media.giphy.com/media/U2nN0ridM4lXy/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-26619928 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media.giphy.com/media/U2nN0ridM4lXy/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="26619928-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Solano Ulisses */
/* Wiome */
[data-cid^="5727218-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://ae01.alicdn.com/kf/HTB18.iuIFXXXXaQapXXq6xXFXXXR/Japanese-Anime-Celestial-Method-Komiya-Nonoka-Noel-Hugging-Body-Back-Pillow-Cute-Cartoon-Pillow-For-Hotel.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-5727218 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://ae01.alicdn.com/kf/HTB18.iuIFXXXXaQapXXq6xXFXXXR/Japanese-Anime-Celestial-Method-Komiya-Nonoka-Noel-Hugging-Body-Back-Pillow-Cute-Cartoon-Pillow-For-Hotel.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="5727218-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Wiome */

/* TiaVidel 30x30 */
[data-cid^="3486336-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/EgPvTjY.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3486336 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/EgPvTjY.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3486336-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3486336-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* TiaVidel */

/* The Unfathomable 30x30 */
[data-cid^="3676625-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/hWA4Kmy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3676625 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/hWA4Kmy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3676625-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* The Unfathomable */
