/* V1RTU4L */
[data-cid^="3473197-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://res.cloudinary.com/hhberclba/image/upload/c_fill,f_auto,fl_lossy,h_400,q_75,w_400/v1456207670/pgqg1l672vsppelpsils.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3473197 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://res.cloudinary.com/hhberclba/image/upload/c_fill,f_auto,fl_lossy,h_400,q_75,w_400/v1456207670/pgqg1l672vsppelpsils.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3473197-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3473197-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* V1RTU4L */

/* DATABASE */
[data-cid^="3926149-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/4dRlHRr.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3926149 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/4dRlHRr.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3926149-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3926149-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* DATABASE */

/* Sawada-Tsunayoshi */
[data-cid^="3819537-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media2.giphy.com/media/mDSEMcZYYMPWE/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3819537 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://media2.giphy.com/media/mDSEMcZYYMPWE/giphy.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="3819537-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="3819537-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Sawada-Tsunayoshi */

/* Tardígrado */
[data-cid^="14877874-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://image.prntscr.com/image/51205480ce4b42cdbc1b04308082a9b2.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-14877874 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://image.prntscr.com/image/51205480ce4b42cdbc1b04308082a9b2.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="14877874-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="14877874-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Tardígrado */

/* Hell_Girl666 */
[data-cid^="4311743-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/h6xDzSS.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4311743 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("http://i.imgur.com/h6xDzSS.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4311743-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="4311743-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* Hell_Girl666 */
