/* EDTBot */
[data-cid^="13720951-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/FJ1NNl7.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-13720951 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/FJ1NNl7.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="13720951-"] .msg .from .un {
    color: #25b961 !important;
}
[data-cid^="13720951-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* EDTBot */
