/* Delmiro */
#chat [data-cid^='14706441-'] .un:before {
    content: url("http://i.imgur.com/WqiAUbY.png");
    top: 3px;
    Left: -3px;
    position: relative;
}
#chat [data-cid^='14706441-'] .un {
    top: -3px !important;
    position: relative;
}

#chat [data-cid^='14706441-'] .un:hover:after {
    content: 'CU';
    background: url('http://i.imgur.com/HdwNWu5.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 17px;
    height: 26px;
}
/*
/*
Tardígrado
*/
#chat [data-cid^='14877874-'] .un:hover:after {
    content: 'Otaku Fedido';
    background: url('http://i.imgur.com/HdwNWu5.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 12px;
    width: 79px;
    height: 26px;
}
/*
Sawada-Tsunayoshi
*/
#chat [data-cid^='3819537-'] .un:hover:after {
    content: 'Super otaku fedido';
    background: url('http://i.imgur.com/HdwNWu5.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 12px;
    width: 115px;
    height: 26px;
}
/* Gana */
#chat [data-cid^='3606558-'] .un:before {
    content: url("http://i.imgur.com/Mvgw3bf.jpg");
    top: 3px;
    Left: -3px;
    position: relative;
}
#chat [data-cid^='3606558-'] .un {
    top: -3px !important;
    position: relative;
}

#chat [data-cid^='3606558-'] .un:hover:after {
    content: 'Gana ®';
    background: url('http://i.imgur.com/HdwNWu5.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 50px;
    height: 26px;
}
