/*donators:
iToxicMusic: 19157671
Satskhi:     4405644
Pombär:      3250095
Timowh:      5658276
*/

#chat [data-cid^='3926149-'] .un:before,
#chat [data-cid^='4405644-'] .un:before,
#chat [data-cid^='3250095-'] .un:before,
#chat [data-cid^='5658276-'] .un:before {
    content: url("http://i.imgur.com/XrhgzjI.png");
    top: 3px;
    Left: -3px;
    position: relative;
}
#chat [data-cid^='3926149-'] .un,
#chat [data-cid^='4405644-'] .un,
#chat [data-cid^='3250095-'] .un,
#chat [data-cid^='5658276-'] .un {
    top: -3px !important;
    position: relative;
}
#chat [data-cid^='3926149-'] .un:hover:after,
#chat [data-cid^='4405644-'] .un:hover:after,
#chat [data-cid^='3250095-'] .un:hover:after,
#chat [data-cid^='5658276-'] .un:hover:after {
    content: 'HELL-Senpai';
    background: url('https://rawgit.com/Satskhi/EDTRCS/master/images/tooltip.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 79px;
    height: 26px;
}
/*
BOT
*/
#chat [data-cid^='15656945-'] .un:hover:after {
    content: 'BOT AMMBR ';
    background: url('https://rawgit.com/Satskhi/EDTRCS/master/images/tooltip.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 9px;
    width: 79px;
    height: 26px;
}
